* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 10px;
  font-family: sans-serif;
  background-color: rgb(193, 219, 233);
}

#reservaVaga {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
  text-align: center;
  margin: 50px 20px 50px 20px; 
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  margin: 20px auto;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #4f77a2;
  color: #fff;
  border: none;
  cursor: pointer;
}

aside {
  margin: 20px auto;
  width: 300px;
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

h2 {
  margin-bottom: 20px;
}